// Colors
$primary-color: #0A2425;
$secondary-color: #FCFAED;
$tertiary-color: #043546;
$quarternary-color: #ECD4B0;
$quinary-color: #1B969E;

// .contact-form-wrapper {
//   background: green;
//   margin-top: 100px;
//   position: relative;
// }

.contact-form {
  margin: auto;
  width: 50%;
  & input {
    display: block;
  }
  & label {
    left: 0.5em;
    position: absolute;
    top: 0;
  }
  // & #id_name {
  //   display: block;
  // }
  // & #id_email {
  //   display: block;
  // }
  // & #id_phone {
  //   display: block;
  // }
  // & #id_message {
  //   display: block;
  // }
  & input:focus ~ label,
  & input:not(:empty) ~ label,
  & textarea:focus ~ label,
  & textarea:not(:empty) ~ label {
  color: green;
  font-size: 0.7rem;
  top: 0.2rem;
  transition: 0.1s;
  }
  & .contact-input {
    margin-bottom: 1rem;
    position: relative;
  }
}