$primary-color: white;
$secondary-color: #14D3C9;
$tertiary-color: #00F2A5;
$quarternary-color: #17685E;
$quinary-color: #3F3F3F;

$primary-color-rgba: rgba(255, 255, 255, 0.8);
$secondary-color-rgba: rgba(20, 211, 201, 0.8);
$tertiary-color-rgba: rgba(0, 242, 165, 0.8);
$quarternary-color-rgba: rgba(23, 104, 94, 0.8);
$quinary-color-rgba: rgba(63, 63, 63, 0.8);

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}