.footer {
  background-color: $secondary-color-rgba;
  .footer-brand {
    color: $primary-color;
    margin: 2vw 0;
    text-align: center;
    & .footer-brand-headline {
      font-size: 3vw;
      font-style: italic;
      font-weight: 900;
      @media (max-width: 769px) {
        font-size: 2rem;
      }
    }
    & .footer-brand-headline-sub {
      font-size: 2.3vw;
      font-style: italic;
      font-weight: 700;
      @media (max-width: 769px) {
        font-size: 1.5rem;
      }
    }
    & .footer-brand-text {
      font-size: 1.5vw;
      padding: 0 3vw;
      & .footer-brand-text-strong {
        font-weight: 800;
        font-style: italic;
      }
      @media (max-width: 769px) {
        font-size: 1rem;
        padding: 0 4rem;
      }
    }
  }

  .footer-phone {
    color: $primary-color;
    margin: 2vw 0;
    text-align: center;
    & .footer-phone-headline {
      font-size: 2vw;
      font-style: italic;
      font-weight: 700;
      @media (max-width: 769px) {
        font-size: 1.5rem;
      }
    }
    & .footer-phone-text {
      font-size: 3vw;
      font-style: italic;
      font-weight: 800;
      @media (max-width: 769px) {
        font-size: 2rem;
      }
    }
    & .icon-phone {
      height: 4vw;
      & circle {
        fill: $primary-color;
      }
      & path {
        fill: $secondary-color-rgba;
      }
      @media (max-width: 769px) {
        height: 2rem;
      }
    }
  }

  .footer-flair {
    margin: 2vw 0;
    & .footer-flair-icon {
      height: 10vw;
      margin: 1vw;
      @media (max-width: 769px) {
        height: 4rem;
      }
    }
  }

  .footer-back-to-top-and-copyright {
    color: $primary-color;
    font-size: 1.5vw;
    padding: 0 4vw;
    & .footer-copyright {
      bottom: 0;
      font-size: 1.25vw;
      position: relative;
      @media (max-width: 769px) {
        margin-top: 2rem;
        font-size: 0.75rem;
      }
    }
    & .footer-back-to-top {
      font-size: 1.5vw;
      @media (max-width: 769px) {
        margin-top: 2rem;
        font-size: 0.75rem;
      }
    }
  }
}