.landing-page-background {
  background-color: $quarternary-color;
  background-image: 
    linear-gradient(
      rgba(23, 104, 94, 0.5),
      rgba(23, 104, 94, 0.5)
    ),
    url('/static/img/house2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.container-fluid {
  padding: 0;
}

.landing-page-headline {
  color: $primary-color;
  font-size: 4.3vw;
  left: 15vw;
  position: relative;
  top: 60vh;
  &>.lph-bold {
    font-weight: 500;
  }
  &>.lph-super-bold-alpha {
    color: $secondary-color;
    font-weight: 900;
    font-style: italic;
  }
  &>.lph-dash-alpha {
    position: relative;
    top: -2vw;
  }
  &>.lph-super-bold-omega {
    font-weight: 900;
    font-style: italic;
    left: 1.5vw;
    position: relative;
    top: -2vw;
  }
  &>.lph-dash-omega {
    color: $secondary-color;
    left: 1.5vw;
    position: relative;
    top: -4vw;
  }
  &>.lph-omega-spacer {
    opacity: 0;
  }
}

.landing-page-spacer {
  height: 100vh;
  width: 100%;
}

.section-1-left {
  background-image: url('/static/img/pressure-washer-1.jpg');
  height: 100vh;
  position: absolute;
  width: 100%;
}