%background-fixed {
  background-color: $quarternary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Landing Page
.landing-page-row {
  & .landing-page-background {
    background-image: 
      linear-gradient(
        rgba(23, 104, 94, 0.5),
        rgba(23, 104, 94, 0.5)
      ),
      url('/static/img/house2.jpg');
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    @extend %background-fixed;
  }
  & .landing-page-headline {
    color: $primary-color;
    font-size: 4.3vw;
    left: 15vw;
    position: absolute;
    top: 60vh;
    &>.lph-bold {
      font-weight: 500;
    }
    &>.lph-super-bold-alpha {
      color: $secondary-color;
      font-weight: 900;
      font-style: italic;
    }
    &>.lph-dash-alpha {
      position: relative;
      top: -2vw;
    }
    &>.lph-super-bold-omega {
      font-weight: 900;
      font-style: italic;
      left: 1.5vw;
      position: relative;
      top: 3.5vw;
    }
    &>.lph-dash-omega {
      color: $secondary-color;
      left: 1.5vw;
      position: relative;
      top: 1.5vw;
    }
    &>.lph-omega-spacer {
      opacity: 0;
    }
  }
  & .landing-page-placeholder {
    height: 100vh;
    width: 100%;
  }
}

// Section 1
.section-1-row {
  background-color: $primary-color;
  color: $quarternary-color;
  height: max-content;
  padding: 2vw;
  & .section-1-image{
    width: 46vw;
  }
  & .section-1-headline {
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 4vw;
    text-align: center;
    width: 46vw;
    & .section-1-headline-bold {
      color: $secondary-color;
      font-style: italic;
      font-weight: 600;
    }
  }
  & .section-1-paragraph {
    font-size: 2vw;
    width: 46vw;
    & .section-1-paragraph-bold {
      color: $secondary-color;
      font-style: italic;
      font-weight: 700;
    }
  }
}

.section-1-top-border {
  background-color: $secondary-color-rgba;
  height: 3vw;
}

// Section 2
.section-2-row {
  background-color: $secondary-color-rgba;
  height: max-content;
  padding: 6vh 2vh;
  & .card {
    height: 25vw;
    margin: 0 1vw;
    width: 30vw;
    &:hover {
      cursor: pointer;
      & .card-body {
        color: $tertiary-color;
      }
      & .card-link-text {
        color: $tertiary-color;
      }
      & .icon-arrow-right {
        fill: $tertiary-color;
      }
    }
  }
  & .card-background-house-washing {
    background-image: url('/static/img/house1.jpg');
    border-radius: 3px 3px 0 0;
    height: 200px;
    @extend %background-fixed;
  }
  & .card-background-patio-and-deck {
    background-image: url('/static/img/patio.jpg');
    border-radius: 3px 3px 0 0;
    height: 20vw;
    @extend %background-fixed;
  }
  & .card-background-graffiti-removal {
    background-image: url('/static/img/graffiti-removal.jpg');
    border-radius: 3px 3px 0 0;
    height: 20vw;
    @extend %background-fixed;
  }
  & .card-body {
    color: $quarternary-color;
    font-size: 2vw;
    font-weight: 500;
    padding: 1vh;
    text-align: center;
  }
  & .card-link {
    font-size: 1.5vw;
    padding: 1vw;
    width: max-content;
    & .card-link-text {
      color: $quarternary-color;
      margin-right: 1vw;
      position: relative;
    }
    & .icon-arrow-right {
      fill: $quarternary-color;
      height: 2vw;
      stroke: $primary-color;
    }
  }
  & .section-2-row-flair {
    padding-top: 4vw;
    & .section-2-icon-flair {
      height: 6vw;
    }
  }
}

// Contact Form
.contact-form-row {
  background-color: $primary-color;
  color: $quarternary-color;
  height: max-content;
  padding: 6vh 4vh;
  text-align: center;
  & .contact-form-headline {
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 4vw;
    width: 46vw;
    & .contact-form-headline-bold {
      color: $secondary-color;
      font-style: italic;
      font-weight: 600;
    }
  }
  & .contact-form-paragraph {
    font-size: 2vw;
    width: 46vw;
    & .contact-form-paragraph-bold {
      color: $secondary-color;
      font-style: italic;
      font-weight: 700;
    }
  }
  & .contact-form-paragraph-urgent {
    font-size: 2.5vw;
    font-style: italic;
    font-weight: 700;
    width: 46vw;
  }
  & .contact-form-paragraph-phone {
    font-size: 3vw;
    font-style: italic;
    font-weight: 700;
    margin-top: 6vw;
    & .icon-phone {
      height: 4vw;
      & circle {
        fill: $quarternary-color;
      }
      & path {
        fill: $primary-color;
      }
    }
  }
}