$navbar-transition: 0.2s ease-in;
$navbar-stripe-transition: 0.2s ease-in;

.navbar {
  background-color: $secondary-color;
  padding: 0 3vw;
  position: fixed;
  width: 100%;
  z-index: 10;
  & .navbar-brand {
    color: $primary-color;
    font-size: 3vw;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    transition: $navbar-transition;
    @media (max-width: 769px) {
      font-size: 1.5rem;
    }
  }
  & .navbar-toggler {
    & .icon-hamburger {
      height: 1.5rem;
      width: 1.5rem;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  & .nav-link {
    color: $primary-color;
    font-size: 1.5vw;
    position: relative;
    margin: 0 auto;
    transition: $navbar-transition;
    width: max-content;
    &::before,
    &::after {
      background-color: $primary-color;
      bottom: 0.1vw;
      content: "";
      height: 0.3vw;
      position: absolute;
      transition-duration: 0.15s;
      width: 0;
    }
    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    &.active {
      &::before,
      &::after {
        width: 50%;
      }
    }
    &:hover {
      color: $primary-color;
      cursor: pointer;
      &:before,
      &:after {
        background-color: $primary-color;
        width: 50%;
      }
    }
    @media (max-width: 769px) {
      font-size: 1rem;
    }
  }
  @media (min-width: 768px) {
    background-color: $secondary-color-rgba;
    transition: $navbar-transition;
    &.navbar-minimized-false {
      top: 1vw;
    }
    &.navbar-minimized-true {
      background-color: $secondary-color;
      position: fixed;
      top: 0;
      z-index: 10;
    }
  }
}


.navbar-stripe-wrapper {
  position: relative;
  .navbar-stripe {
    @media (min-width: 768px) {
      transition: $navbar-stripe-transition;
      background-color: $secondary-color-rgba;
      height: 0.5vw;
      padding: 0 3vw;
      position: fixed;
      width: 100%;
      &::before {
        color: $primary-color;
        content: 'PRESSURE WASHING';
        font-size: 2vw;
        font-style: italic;
        font-weight: 700;
        position: absolute;
        top: -1.3vw;
        transition: $navbar-stripe-transition;
      }
      &.navbar-stripe-minimized-false {
        top: 7.2vw;
        opacity: 1;
      }
      &.navbar-stripe-minimized-true {
        background-color: $secondary-color;
        height: 0.25vw;
        opacity: 0;
        top: 4.25vw;
        z-index: 10;
        &::before {
          font-size: 1.25vw;
          top: -0.75vw;
        }
      }
    }
  }
}
