.icon-hamburger {
  height: 6vh;
  width: 6vh;
}

.navbar-toggler {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.navbar-brand {
  color: $primary-color;
  font-size: 4vw;
  font-style: italic;
  font-weight: 900;
}

.navbar {
  background-color: $tertiary-color-rgba;
  padding: 0 1vw;
  top: 2vw;
}

@media (min-width: 768px) {
  .navbar-stripe {
    background-color: $tertiary-color-rgba;
    height: 1.3vw;
    padding: 0 1vw;
    position: absolute;
    top: 10vw;
    width: 100%;
    &::before {
      color: $primary-color;
      content: 'PRESSURE WASHING';
      font-size: 3vw;
      font-style: italic;
      font-weight: 700;
      position: absolute;
      top: -1.5vw;
    }
  }
}

.navbar-toggler-icon {
  fill: red;
  background: blue;
  stroke: yellow;
}

.nav-link {
  color: $primary-color;
  font-size: 1.55vw;
  position: relative;
  &::before,
  &::after {
    background-color: $primary-color;
    bottom: 0;
    content: "";
    height: 0.4vw;
    position: absolute;
    transition-duration: 0.15s;
    width: 0;
  }
  &::before {
    left: 50%;
  }
  &::after {
    right: 50%;
  }
  &.active {
    &::before,
    &::after {
      width: 50%;
    }
  }
  &:hover {
    color: $primary-color;
    cursor: pointer;
    &:before,
    &:after {
      background-color: $primary-color;
      width: 50%;
    }
  }
}