%background-fixed {
  background-color: $quarternary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%card-background {
  border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw) 0 0;
  height: calc(10rem + 0.5vw);
}

// Our Work Page
.ourwork-page {

  // Our Work Splash Page
  & .ourwork-splash-page-row {
    position: relative;
    & .ourwork-splash-page-background {
      background-image: 
        linear-gradient(
          rgba(0, 42, 29, 0.5),
          rgba(0, 42, 29, 0.5),
        ),
        url('/static/img/pressure-washer-3.jpg');
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      transform: scaleX(-1);
      width: 100%;
      z-index: -1;
      @extend %background-fixed;
    }
    & .ourwork-splash-page-headline {
      color: $primary-color;
      font-size: calc(1rem + 3vw);
      left: 45vw;
      position: absolute;
      top: 45vh;
      white-space: nowrap;  // prevent line breaks in text w/position: absolute
      & .owsph-line-1 {
        font-weight: 100;
        position: absolute;
      }
      & .owsph-line-2 {
        left: calc(2rem + 8vw);
        position: absolute;
        top: calc(2.5rem + 1vw);
      }
      & .owsph-line-3 {
        left: calc(2rem + 8vw);
        position: absolute;
        top: calc(5rem + 2vw);
      }
      & .owsph-line-4 {
        font-weight: 100;
        left: calc(2rem + 20vw);
        position: absolute;
        top: calc(7.5rem + 3vw);
      }
      & .owsph-bold {
        font-weight: 600;
      }
      & .owsph-alpha-bold {
        color: $secondary-color;
        font-weight: 900;
        font-style: italic;
      }
      & .owsph-alpha-dash {
        position: relative;
        top: calc(-0.5rem - 1.5vw);
      }
      & .owsph-omega-bold {
        font-weight: 900;
        font-style: italic;
      }
      & .owsph-omega-dash {
        color: $secondary-color;
        position: relative;
        top: calc(-0.5rem - 1.5vw);
      }
      @media (max-width: 769px) {
        left: 5vw;
        top: 50vh;
        & .owsph-line-2 {
          left: calc(4.5rem + 1vw);
          top: calc(1.75rem + 1vw);
        }
        & .owsph-line-3 {
          left: calc(4.25rem + 1vw);
          top: calc(3.25rem + 2vw);
        }
        & .owsph-line-4 {
          left: calc(6rem + 0.75vw);
          top: calc(5rem + 3vw);
        }
      }
    }
    & .ourwork-splash-page-placeholder {
      height: 100vh;
      width: 100%;
    }
  }

  & .ourwork-splash-page-bottom-border {
    background-color: $secondary-color-rgba;
    height: calc(1rem + 1vw);
  }

  // Section 1, Headline
  & .section-1-row {
    background-color: $primary-color;
    padding: calc(1rem + 1vw) 0;
    text-align: center;
    & .section-1-headline {
      color: $quarternary-color;
      font-size: calc(1rem + 1.5vw);
      font-weight: 700;
      margin: auto;
      & .section-1-headline-bold {
        color: $secondary-color;
        font-style: italic;
        font-weight: 900;
      }
    }

    // Section 1, Before & After Pictures
    & .section-1-before-and-after-pictures {
      background-color: $primary-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      & .section-1-baap-group {
        display: flex;
        justify-content: space-around;
        margin: calc(1rem + 1vw) 0;
        & .section-1-baap-group-before {
          border: calc(0.15rem + 0.15vw) solid $secondary-color;
          margin-right: calc(0.25rem + 0.25vw);
          position: relative;
          &::before {
            background-color: $secondary-color;
            color: $primary-color;
            content: "BEFORE";
            font-size: calc(0.5rem + 0.25vw);
            font-style: italic;
            font-weight: 600;
            left: calc(0.25rem + 0.25vw);
            padding: 0 calc(0.1rem + 0.1vw);
            position: absolute;
            top: calc(0.25rem + 0.25vw);
          }
        }
        & .section-1-baap-group-after {
          border: calc(0.15rem + 0.15vw) solid $secondary-color;
          position: relative;
          &::before {
            background-color: $secondary-color;
            color: $primary-color;
            content: "AFTER";
            font-size: calc(0.5rem + 0.25vw);
            font-style: italic;
            font-weight: 600;
            left: calc(0.25rem + 0.25vw);
            padding: 0 calc(0.1rem + 0.1vw);
            position: absolute;
            top: calc(0.25rem + 0.25vw);
          }
        }
        & img {
          height: 15vw;
          object-fit: cover;
          width: 20vw;
          @media (max-width: 769px) {
            height: auto;
            width: 40vw;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  // Our Work Modals
  .modal {
    & .modal-dialog {
      max-width: max-content;
      margin: auto;
    }
    & .modal-body {
      display: flex;
      @media (max-width: 769px) {
        display: block;
      }
    }
    & .modal-baap-group-before {
      border: calc(0.15rem + 0.15vw) solid $secondary-color;
      margin-right: calc(0.25rem + 0.25vw);
      position: relative;
      width: 100%;
      &::before {
        background-color: $secondary-color;
        color: $primary-color;
        content: "BEFORE";
        font-size: calc(1rem + 0.25vw);
        font-style: italic;
        font-weight: 600;
        left: calc(0.25rem + 0.25vw);
        padding: 0 calc(0.5rem + 0.1vw);
        position: absolute;
        top: calc(0.25rem + 0.25vw);
        @media (max-width: 769px) {
          font-size: calc(0.5rem + 0.1vw);
        }
      }
      @media (max-width: 769px) {
        margin-bottom: calc(0.25rem + 0.25vw);
        margin-right: 0;
      }
    }
    & .modal-baap-group-after {
      border: calc(0.15rem + 0.15vw) solid $secondary-color;
      position: relative;
      &::before {
        background-color: $secondary-color;
        color: $primary-color;
        content: "AFTER";
        font-size: calc(1rem + 0.25vw);
        font-style: italic;
        font-weight: 600;
        left: calc(0.25rem + 0.25vw);
        padding: 0 calc(0.5rem + 0.1vw);
        position: absolute;
        top: calc(0.25rem + 0.25vw);
        @media (max-width: 769px) {
          font-size: calc(0.5rem + 0.1vw);
        }
      }
    }
    & .modal-content {
      border: 0;
    }
    & .modal-header {
      background-color: $secondary-color;
    }
    & .modal-title {
      color: $primary-color;
      font-size: calc(1rem + 0.5vw);
      font-style: italic;
      font-weight: 600;
      & .modal-title-highlight{
        font-weight: 800;
      }
    }
    & img {
      height: auto;
      width: 45vw;
      @media (max-width: 769px) {
        height: auto;
        width: 75vw;
      }
    }
    & .close {
      color: $primary-color;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

