%background-fixed {
  background-color: $quarternary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%card-background {
  border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw) 0 0;
  height: calc(10rem + 0.5vw);
}

// Services Page
.services-page {

  // Services Splash Page
  & .services-splash-page-row {
    position: relative;
    & .services-splash-page-background {
      background-image: 
        linear-gradient(
          rgba(23, 104, 94, 0.5),
          rgba(23, 104, 94, 0.5)
        ),
        url('/static/img/house3.jpeg');
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
      @extend %background-fixed;
    }
    & .services-splash-page-headline {
      color: $primary-color;
      font-size: calc(1rem + 3vw);
      left: 5vw;
      position: absolute;
      top: 55vh;
      white-space: nowrap;  // prevent line breaks in text w/position: absolute
      & .ssph-line-1 {
        font-weight: 100;
        position: absolute;
      }
      & .ssph-line-2 {
        left: calc(2rem + 8vw);
        position: absolute;
        top: calc(2.5rem + 1vw);
      }
      & .ssph-line-3 {
        left: calc(2rem + 8vw);
        position: absolute;
        top: calc(5rem + 2vw);
      }
      & .ssph-line-4 {
        font-weight: 100;
        left: calc(2rem + 20vw);
        position: absolute;
        top: calc(7.5rem + 3vw);
      }
      & .ssph-bold {
        font-weight: 600;
      }
      & .ssph-alpha-bold {
        color: $secondary-color;
        font-weight: 900;
        font-style: italic;
      }
      & .ssph-alpha-dash {
        position: relative;
        top: calc(-0.5rem - 1.5vw);
      }
      & .ssph-omega-bold {
        font-weight: 900;
        font-style: italic;
      }
      & .ssph-omega-dash {
        color: $secondary-color;
        position: relative;
        top: calc(-0.5rem - 1.5vw);
      }
      @media (max-width: 769px) {
        top: 70vh;
        & .ssph-line-2 {
          left: calc(4.5rem + 1vw);
          top: calc(1.75rem + 1vw);
        }
        & .ssph-line-3 {
          left: calc(4.25rem + 1vw);
          top: calc(3.25rem + 2vw);
        }
        & .ssph-line-4 {
          left: calc(6rem + 0.75vw);
          top: calc(5rem + 3vw);
        }
      }
    }
    & .services-splash-page-placeholder {
      height: 100vh;
      width: 100%;
    }
  }

  & .services-splash-page-bottom-border {
    background-color: $secondary-color-rgba;
    height: calc(1rem + 1vw);
  }

  // Section 1
  & .section-1-row {
    background-color: $primary-color;
    color: $quarternary-color;
    height: 100%;
    overflow: hidden;
    padding: calc(0.5rem + 3.5vw);
    & .section-1-image-background {
      background-image: url('/static/img/pressure-washer-2.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    & .section-1-headline {
      font-size: calc(2rem + 0.5vw);
      font-weight: 700;
      margin: calc(1rem + 0.5vw) 0;
      text-align: center;
      width: 100%;
      & .section-1-headline-bold {
        color: $secondary-color;
        font-style: italic;
        font-weight: 900;
      }
    }
    & .section-1-paragraph {
      font-size: calc(1rem + 0.5vw);
      margin-bottom: calc(1rem + 0.5vw);
      & .section-1-paragraph-bold {
        color: $secondary-color;
        font-style: italic;
        font-weight: 700;
      }
    }
  }

  // Section 2
  & .section-2-headline{
    background-color: $secondary-color-rgba;
    color: $primary-color;
    font-size: calc(2rem + 1vw);
    font-weight: 700;
    padding: calc(1rem + 1vw);
  }
  & .section-2-billboards {
    background-color: $secondary-color-rgba;
    font-size: calc(1rem + 1vw);
    padding: 0 calc(3rem + 3vw);
    text-align: center;
    & .billboard-1 {
      background-color: $quarternary-color;
      color: $primary-color;
      padding: calc(1rem + 1vw);
    }
    & .billboard-2 {
      background-color: $primary-color;
      color: $secondary-color;
      padding: calc(1rem + 1vw);
    }
    & .billboard-3 {
      background-color: $quarternary-color;
      color: $primary-color;
      padding: calc(1rem + 1vw);
    }
  }
  & .section-2-bottom-border {
    background-color: $secondary-color-rgba;
    height: 10vh;
  }

  // Section 3
  & .section-3-headline {
    background-color: $primary-color;
    color: $quarternary-color;
    font-size: calc(2rem + 1vw);
    padding: calc(2rem + 1vw);
  }
  & .section-3-map {
    background-color: $primary-color;
    height: 80vh;
  }
  & .section-3-bottom-border {
    background-color: $primary-color;
    height: 10vh;
  }
}