%background-fixed {
  background-color: $quarternary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%card-background {
  border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw) 0 0;
  height: calc(10rem + 0.5vw);
}

// Services Page
.services-page {

  // Services Splash Page
  & .services-splash-page-row {
    position: relative;
    & .services-splash-page-background {
      background-image: 
        linear-gradient(
          rgba(0, 42, 29, 0.5),
          rgba(0, 42, 29, 0.5),
        ),
        url('/static/img/house3.jpg');
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
      @extend %background-fixed;
    }
    & .services-splash-page-headline {
      color: $primary-color;
      font-size: calc(1rem + 3vw);
      left: 5vw;
      position: absolute;
      top: 55vh;
      white-space: nowrap;  // prevent line breaks in text w/position: absolute
      & .ssph-line-1 {
        font-weight: 100;
        position: absolute;
      }
      & .ssph-line-2 {
        left: calc(2rem + 8vw);
        position: absolute;
        top: calc(2.5rem + 1vw);
      }
      & .ssph-line-3 {
        left: calc(2rem + 8vw);
        position: absolute;
        top: calc(5rem + 2vw);
      }
      & .ssph-line-4 {
        font-weight: 100;
        left: calc(2rem + 20vw);
        position: absolute;
        top: calc(7.5rem + 3vw);
      }
      & .ssph-bold {
        font-weight: 600;
      }
      & .ssph-alpha-bold {
        color: $secondary-color;
        font-weight: 900;
        font-style: italic;
      }
      & .ssph-alpha-dash {
        position: relative;
        top: calc(-0.5rem - 1.5vw);
      }
      & .ssph-omega-bold {
        font-weight: 900;
        font-style: italic;
      }
      & .ssph-omega-dash {
        color: $secondary-color;
        position: relative;
        top: calc(-0.5rem - 1.5vw);
      }
      @media (max-width: 769px) {
        top: 70vh;
        & .ssph-line-2 {
          left: calc(4.5rem + 1vw);
          top: calc(1.75rem + 1vw);
        }
        & .ssph-line-3 {
          left: calc(4.25rem + 1vw);
          top: calc(3.25rem + 2vw);
        }
        & .ssph-line-4 {
          left: 0;
          top: calc(5rem + 3vw);
        }
      }
    }
    & .services-splash-page-placeholder {
      height: 100vh;
      width: 100%;
    }
  }

  & .services-splash-page-bottom-border {
    background-color: $secondary-color-rgba;
    height: calc(1rem + 1vw);
  }

  // Section 1
  & .section-1-row {
    background-color: $primary-color;
    color: $quarternary-color;
    height: 100%;
    overflow: hidden;
    padding: calc(0.5rem + 3.5vw);
    & .section-1-image-background {
      background-image: url('/static/img/pressure-washer-2.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    & .section-1-headline {
      font-size: calc(1rem + 1.5vw);
      font-weight: 700;
      margin: calc(1rem + 0.5vw) 0;
      text-align: center;
      width: 100%;
      & .section-1-headline-bold {
        color: $secondary-color;
        font-style: italic;
        font-weight: 900;
      }
    }
    & .section-1-paragraph {
      font-size: calc(1rem + 0.5vw);
      margin-bottom: calc(1rem + 0.5vw);
      & .section-1-paragraph-bold {
        color: $secondary-color;
        font-style: italic;
        font-weight: 700;
      }
    }
  }

  // Section 2
  $section-2-hover-transition-time: 0.25s;

  & .section-2-row {
    background-color: $secondary-color-rgba;
    height: max-content;
    padding: 0 calc(1rem + 6vw);
    & .card {
      border: 0;
      border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw);
      margin-top: calc(1rem + 1vw);
      &:hover {
        cursor: pointer;
        & .card-body {
          color: $tertiary-color;
          transition: $section-2-hover-transition-time;
        }
        & .card-link-text {
          color: $tertiary-color;
          transition: $section-2-hover-transition-time;
        }
        & .icon-arrow-right {
          fill: $tertiary-color;
          transition: $section-2-hover-transition-time;
        }
      }
    }
    & .card-background-house-washing {
      background-image: url('/static/img/house1.jpg');
      @extend %card-background;
      @extend %background-fixed;
    }
    & .card-background-patio-and-deck {
      background-image: url('/static/img/patio.jpg');
      @extend %card-background;
      @extend %background-fixed;
    }
    & .card-background-graffiti-removal {
      background-image: url('/static/img/graffiti-removal.jpg');
      @extend %card-background;
      @extend %background-fixed;
    }
    & .card-body {
      color: $quarternary-color;
      font-size: calc(1rem + 0.25vw);
      font-style: italic;
      font-weight: 700;
      padding: calc(0.25rem + 0.25vw) 0 0 0;  // padding: 20px by default
      text-align: center;
    }
    & .card-link {
      height: max-content;
      padding-bottom: calc(0.5rem + 0.25vw);
      width: max-content;
      & .card-link-text {
        color: $quarternary-color;
        font-size: calc(1rem + 0.25vw);
        margin-right: calc(0.5rem + 0.5vw);
        position: relative;
      }
      & .icon-arrow-right {
        fill: $quarternary-color;
        height: calc(1rem + 0.25vw);
        stroke: $primary-color;
      }
    }
    & .section-2-billboards-headline{
      color: $primary-color;
      display: inline-block;
      font-size: calc(1rem + 1.5vw);
      font-weight: 700;
      margin: auto;
      padding: calc(1rem + 1vw);
    }
    & .section-2-billboards {
      display: flex;
      flex-wrap: wrap;
      font-size: calc(1rem + 1vw);
      margin-bottom: calc(1rem + 1vw);
      text-align: center;
      & .billboard-1 {
        align-items: center;
        background-color: $quarternary-color;
        color: $primary-color;
        display: flex;
        padding: calc(1rem + 1vw);
      }
      & .billboard-2 {
        align-items: center;
        background-color: $primary-color;
        color: $secondary-color;
        display: flex;
        padding: calc(1rem + 1vw);
      }
      & .billboard-3 {
        align-items: center;
        background-color: $quarternary-color;
        color: $primary-color;
        display: flex;
        padding: calc(1rem + 1vw);
      }
    }
  }

  // Section 3
  & .section-3-row {
    padding: calc(1rem + 1vw);
    background-color: $primary-color;
    & .section-3-headline {
      color: $quarternary-color;
      font-size: calc(1rem + 1vw);
      padding: calc(1rem + 0.5vw);
      text-align: center;
    }
    & .section-3-service-locations {
      color: $quarternary-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      & h3 {
        font-size: calc(0.75rem + 0.75vw);
      }
    }
    & .section-3-map-image {
      width: 100%;
    }
    & .section-3-bottom-border {
      background-color: $primary-color;
      height: 10vh;
    }
  }

  // Services Page Modals
  .modal {
    & .btn-free-quote {
      border: none;
      background-color: $primary-color;
      border-radius: calc(0.5rem + 0.1vw);
      color: $quarternary-color;
      font-size: calc(1rem + 0.25vw);
      & .btn-free-quote-highlight {
        font-style: italic;
        font-weight: 700;
      }
      &:hover {
        background-color: $quarternary-color;
        color: $primary-color;
        transition: 0.15s ease-in;
      }
    }
    & .modal-body {
      color: $quarternary-color;
      font-size: calc(1rem + 0.5vw);
    }
    & .modal-content {
      border: 0;
    }
    & .modal-header {
      background-color: $secondary-color;
    }
    & .modal-footer {
      background-color: $secondary-color;
    }
    & .modal-title {
      color: $primary-color;
      font-size: calc(1rem + 0.5vw);
      font-style: italic;
      font-weight: 600;
      & .modal-title-highlight{
        font-weight: 800;
      }
    }
    & .close {
      color: $primary-color;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}