.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.navbar {
  background-color: rgba(20, 211, 201, 0.8);
  padding: 0 3vw;
  position: absolute;
  width: 100%;
}

.navbar .navbar-brand {
  color: white;
  font-style: italic;
  font-weight: 900;
  margin: 0;
}

@media (min-width: 768px) {
  .navbar .navbar-brand {
    font-size: 3vw;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 1.5rem;
  }
}

.navbar .navbar-toggler .icon-hamburger {
  height: 3.3vh;
  width: 3.3vh;
}

.navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .nav-link {
  color: white;
  position: relative;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar .nav-link::before, .navbar .nav-link::after {
  background-color: white;
  bottom: 0;
  content: "";
  height: 0.3vw;
  position: absolute;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  width: 0;
}

.navbar .nav-link::before {
  left: 50%;
}

.navbar .nav-link::after {
  right: 50%;
}

.navbar .nav-link.active::before, .navbar .nav-link.active::after {
  width: 50%;
}

.navbar .nav-link:hover {
  color: white;
  cursor: pointer;
}

.navbar .nav-link:hover:before, .navbar .nav-link:hover:after {
  background-color: white;
  width: 50%;
}

@media (min-width: 768px) {
  .navbar .nav-link {
    font-size: 1.5vw;
  }
}

@media (min-width: 768px) {
  .navbar {
    font-size: 1.5vw;
    top: 1vw;
  }
}

@media (min-width: 768px) {
  .navbar-stripe {
    background-color: rgba(20, 211, 201, 0.8);
    height: 0.5vw;
    padding: 0 3vw;
    position: absolute;
    top: 7.2vw;
    width: 100%;
  }
  .navbar-stripe::before {
    color: white;
    content: 'PRESSURE WASHING';
    font-size: 2vw;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    top: -1.3vw;
  }
}

.landing-page-row .landing-page-background, .section-2-row .card-background-house-washing, .section-2-row .card-background-patio-and-deck, .section-2-row .card-background-graffiti-removal {
  background-color: #17685E;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing-page-row .landing-page-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 104, 94, 0.5)), to(rgba(23, 104, 94, 0.5))), url("/static/img/house2.jpg");
  background-image: linear-gradient(rgba(23, 104, 94, 0.5), rgba(23, 104, 94, 0.5)), url("/static/img/house2.jpg");
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.landing-page-row .landing-page-headline {
  color: white;
  font-size: 4.3vw;
  left: 15vw;
  position: absolute;
  top: 60vh;
}

.landing-page-row .landing-page-headline > .lph-bold {
  font-weight: 500;
}

.landing-page-row .landing-page-headline > .lph-super-bold-alpha {
  color: #14D3C9;
  font-weight: 900;
  font-style: italic;
}

.landing-page-row .landing-page-headline > .lph-dash-alpha {
  position: relative;
  top: -2vw;
}

.landing-page-row .landing-page-headline > .lph-super-bold-omega {
  font-weight: 900;
  font-style: italic;
  left: 1.5vw;
  position: relative;
  top: 3.5vw;
}

.landing-page-row .landing-page-headline > .lph-dash-omega {
  color: #14D3C9;
  left: 1.5vw;
  position: relative;
  top: 1.5vw;
}

.landing-page-row .landing-page-headline > .lph-omega-spacer {
  opacity: 0;
}

.landing-page-row .landing-page-placeholder {
  height: 100vh;
  width: 100%;
}

.section-1-row {
  background-color: white;
  color: #17685E;
  overflow: hidden;
}

.section-1-row .section-1-image {
  padding-left: 6vw;
  width: 46vw;
}

@media (max-width: 768px) {
  .section-1-row .section-1-image {
    opacity: 0.1;
    padding-left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

.section-1-row .section-1-headline {
  font-size: 3vw;
  font-weight: 400;
  margin: 4vw 0;
  text-align: center;
  width: 100%;
}

.section-1-row .section-1-headline .section-1-headline-bold {
  color: #14D3C9;
  font-style: italic;
  font-weight: 600;
}

@media (max-width: 768px) {
  .section-1-row .section-1-headline {
    font-size: 1.5rem;
    margin: 4rem 0;
    padding-right: 0;
  }
}

.section-1-row .section-1-paragraph {
  font-size: 1.5vw;
  width: 46vw;
  margin-bottom: 4vw;
}

.section-1-row .section-1-paragraph .section-1-paragraph-bold {
  color: #14D3C9;
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section-1-row .section-1-paragraph {
    font-size: 1rem;
    padding-right: 0;
    width: 100%;
  }
}

.section-1-top-border {
  background-color: rgba(20, 211, 201, 0.8);
  height: 3vw;
}

@media (max-width: 768px) {
  .section-1-top-border {
    height: 2rem;
  }
}

.section-2-row {
  background-color: rgba(20, 211, 201, 0.8);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.section-2-row .card {
  border: 0;
  padding: 0;
}

.section-2-row .card:hover {
  cursor: pointer;
}

.section-2-row .card:hover .card-body {
  color: #00F2A5;
}

.section-2-row .card:hover .card-link-text {
  color: #00F2A5;
}

.section-2-row .card:hover .icon-arrow-right {
  fill: #00F2A5;
}

@media (max-width: 768px) {
  .section-2-row .card {
    margin: 1rem auto;
    width: 75%;
  }
}

.section-2-row .card-background-house-washing {
  background-image: url("/static/img/house1.jpg");
  border-radius: 3px 3px 0 0;
  height: 20vw;
}

@media (max-width: 768px) {
  .section-2-row .card-background-house-washing {
    height: 8rem;
  }
}

.section-2-row .card-background-patio-and-deck {
  background-image: url("/static/img/patio.jpg");
  border-radius: 3px 3px 0 0;
  height: 20vw;
}

@media (max-width: 768px) {
  .section-2-row .card-background-patio-and-deck {
    height: 8rem;
  }
}

.section-2-row .card-background-graffiti-removal {
  background-image: url("/static/img/graffiti-removal.jpg");
  border-radius: 3px 3px 0 0;
  height: 20vw;
}

@media (max-width: 768px) {
  .section-2-row .card-background-graffiti-removal {
    height: 8rem;
  }
}

.section-2-row .card-body {
  color: #17685E;
  font-size: 2vw;
  font-weight: 500;
  padding: 1vh 0 0 0;
  text-align: center;
}

@media (max-width: 768px) {
  .section-2-row .card-body {
    font-size: 1.5rem;
  }
}

.section-2-row .card-link {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1vh 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section-2-row .card-link .card-link-text {
  color: #17685E;
  font-size: 1.5vw;
  margin-right: 1vw;
  position: relative;
}

@media (max-width: 768px) {
  .section-2-row .card-link .card-link-text {
    font-size: 1rem;
  }
}

.section-2-row .card-link .icon-arrow-right {
  fill: #17685E;
  height: 2vw;
  stroke: white;
}

@media (max-width: 768px) {
  .section-2-row .card-link .icon-arrow-right {
    height: 1rem;
  }
}

.section-2-row .section-2-row-flair {
  padding-top: 4vw;
}

.section-2-row .section-2-row-flair .section-2-icon-flair {
  height: 6vw;
}

@media (max-width: 768px) {
  .section-2-row .section-2-row-flair .section-2-icon-flair {
    height: auto;
    width: 75%;
    margin: 2rem 0;
  }
}

.section-2-row .section-2-row-flair .section-2-icon-flair-yelp {
  height: 6vw;
}

@media (max-width: 768px) {
  .section-2-row .section-2-row-flair .section-2-icon-flair-yelp {
    height: auto;
    width: 50%;
    margin: 2rem 0;
  }
}

.contact-form-row {
  background-color: white;
  color: #17685E;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 6vh 4vh;
  text-align: center;
}

.contact-form-row .contact-form-headline {
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 4vw;
  width: 46vw;
}

.contact-form-row .contact-form-headline .contact-form-headline-bold {
  color: #14D3C9;
  font-style: italic;
  font-weight: 600;
}

.contact-form-row .contact-form-paragraph {
  font-size: 2vw;
  width: 46vw;
}

.contact-form-row .contact-form-paragraph .contact-form-paragraph-bold {
  color: #14D3C9;
  font-style: italic;
  font-weight: 700;
}

.contact-form-row .contact-form-paragraph-urgent {
  font-size: 2.5vw;
  font-style: italic;
  font-weight: 700;
  width: 46vw;
}

.contact-form-row .contact-form-paragraph-phone {
  font-size: 3vw;
  font-style: italic;
  font-weight: 700;
  margin-top: 6vw;
}

.contact-form-row .contact-form-paragraph-phone .icon-phone {
  height: 4vw;
}

.contact-form-row .contact-form-paragraph-phone .icon-phone circle {
  fill: #17685E;
}

.contact-form-row .contact-form-paragraph-phone .icon-phone path {
  fill: white;
}

.footer {
  background-color: rgba(20, 211, 201, 0.8);
}

.footer .footer-brand {
  color: white;
  margin: 2vw 0;
  text-align: center;
}

.footer .footer-brand .footer-brand-headline {
  font-size: 3vw;
  font-style: italic;
  font-weight: 900;
}

.footer .footer-brand .footer-brand-headline-sub {
  font-size: 2.3vw;
  font-style: italic;
  font-weight: 700;
}

.footer .footer-brand .footer-brand-text {
  font-size: 1.5vw;
}

.footer .footer-brand .footer-brand-text .footer-brand-text-strong {
  font-weight: 800;
  font-style: italic;
}

@media (max-width: 767px) {
  .footer .footer-brand .footer-brand-text {
    padding: 0 4rem;
  }
}

.footer .footer-phone {
  color: white;
  margin: 2vw 0;
  text-align: center;
}

.footer .footer-phone .footer-phone-headline {
  font-size: 2vw;
  font-style: italic;
  font-weight: 700;
}

.footer .footer-phone .footer-phone-text {
  font-size: 3vw;
  font-style: italic;
  font-weight: 800;
}

.footer .footer-phone .icon-phone {
  height: 4vw;
}

.footer .footer-phone .icon-phone circle {
  fill: white;
}

.footer .footer-phone .icon-phone path {
  fill: rgba(20, 211, 201, 0.8);
}

.footer .footer-flair {
  margin: 2vw 0;
}

.footer .footer-flair .footer-flair-icon {
  height: 10vw;
  margin: 1vw;
}

.footer .footer-back-to-top-and-copyright {
  color: white;
  font-size: 1.5vw;
  padding: 0 4vw;
}

.footer .footer-back-to-top-and-copyright .footer-copyright {
  bottom: 0;
  font-size: 1.25vw;
  position: relative;
}

.footer .footer-back-to-top-and-copyright .footer-back-to-top {
  font-size: 1.5vw;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Segoe UI, Franklin Gothic, Arial, Helvetica, Verdana, sans-serif;
}
/*# sourceMappingURL=main.css.map */