.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.icon-hamburger {
  height: 6vh;
  width: 6vh;
}

.navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  color: white;
  font-size: 4vw;
  font-style: italic;
  font-weight: 900;
}

.navbar {
  background-color: rgba(0, 242, 165, 0.8);
  padding: 0 1vw;
  top: 2vw;
}

@media (min-width: 768px) {
  .navbar-stripe {
    background-color: rgba(0, 242, 165, 0.8);
    height: 1.3vw;
    padding: 0 1vw;
    position: absolute;
    top: 10vw;
    width: 100%;
  }
  .navbar-stripe::before {
    color: white;
    content: 'PRESSURE WASHING';
    font-size: 3vw;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    top: -1.5vw;
  }
}

.navbar-toggler-icon {
  fill: red;
  background: blue;
  stroke: yellow;
}

.nav-link {
  color: white;
  font-size: 1.55vw;
  position: relative;
}

.nav-link::before, .nav-link::after {
  background-color: white;
  bottom: 0;
  content: "";
  height: 0.4vw;
  position: absolute;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  width: 0;
}

.nav-link::before {
  left: 50%;
}

.nav-link::after {
  right: 50%;
}

.nav-link.active::before, .nav-link.active::after {
  width: 50%;
}

.nav-link:hover {
  color: white;
  cursor: pointer;
}

.nav-link:hover:before, .nav-link:hover:after {
  background-color: white;
  width: 50%;
}

.landing-page-row .landing-page-background, .section-2-row .card-background-house-washing, .section-2-row .card-background-patio-and-deck, .section-2-row .card-background-graffiti-removal {
  background-color: #17685E;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing-page-row .landing-page-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 104, 94, 0.5)), to(rgba(23, 104, 94, 0.5))), url("/static/img/house2.jpg");
  background-image: linear-gradient(rgba(23, 104, 94, 0.5), rgba(23, 104, 94, 0.5)), url("/static/img/house2.jpg");
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.landing-page-row .landing-page-headline {
  color: white;
  font-size: 4.3vw;
  left: 15vw;
  position: absolute;
  top: 60vh;
}

.landing-page-row .landing-page-headline > .lph-bold {
  font-weight: 500;
}

.landing-page-row .landing-page-headline > .lph-super-bold-alpha {
  color: #14D3C9;
  font-weight: 900;
  font-style: italic;
}

.landing-page-row .landing-page-headline > .lph-dash-alpha {
  position: relative;
  top: -2vw;
}

.landing-page-row .landing-page-headline > .lph-super-bold-omega {
  font-weight: 900;
  font-style: italic;
  left: 1.5vw;
  position: relative;
  top: 3.5vw;
}

.landing-page-row .landing-page-headline > .lph-dash-omega {
  color: #14D3C9;
  left: 1.5vw;
  position: relative;
  top: 1.5vw;
}

.landing-page-row .landing-page-headline > .lph-omega-spacer {
  opacity: 0;
}

.landing-page-row .landing-page-placeholder {
  height: 100vh;
  width: 100%;
}

.section-1-row {
  background-color: white;
  padding: 6vh 4vh;
}

.section-1-row .section-1-image {
  width: 46vw;
}

.section-1-row .section-1-headline {
  color: #17685E;
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 4vw;
  text-align: center;
  width: 46vw;
}

.section-1-row .section-1-headline .section-1-headline-bold {
  color: #14D3C9;
  font-style: italic;
  font-weight: 600;
}

.section-1-row .section-1-paragraph {
  width: 46vw;
}

.section-1-row .section-1-paragraph .section-1-paragraph-bold {
  color: #14D3C9;
  font-style: italic;
  font-weight: 700;
}

.section-1-top-border {
  background-color: rgba(20, 211, 201, 0.8);
  height: 1.5vw;
}

.section-2-row {
  background-color: rgba(20, 211, 201, 0.8);
  height: 50vw;
  padding: 6vh 2vh;
}

.section-2-row .card {
  height: 25vw;
  width: 30vw;
}

.section-2-row .card-background-house-washing {
  background-image: url("/static/img/house1.jpg");
  height: 20vw;
}

.section-2-row .card-background-patio-and-deck {
  background-image: url("/static/img/patio.jpg");
  height: 20vw;
}

.section-2-row .card-background-graffiti-removal {
  background-image: url("/static/img/graffiti-removal.jpg");
  height: 20vw;
}

.section-2-row .card-body {
  color: #17685E;
  font-size: 2vw;
  font-weight: 500;
  padding: 1vh;
  text-align: center;
}

.section-2-row .card-link {
  font-size: 1.5vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section-2-row .card-link .card-link-text {
  color: #17685E;
  margin-right: 1vw;
  position: relative;
}

.section-2-row .card-link .card-link-text::before {
  background-color: #00F2A5;
  bottom: 0;
  content: "";
  height: 0.2vw;
  position: absolute;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  width: 0;
}

.section-2-row .card-link .icon-arrow-right {
  fill: #17685E;
  height: 2vw;
  stroke: white;
}

.section-2-row .card-link:hover {
  cursor: pointer;
}

.section-2-row .card-link:hover > .card-link-text {
  color: #00F2A5;
}

.section-2-row .card-link:hover > .card-link-text::before {
  width: 100%;
}

.section-2-row .card-link:hover > .icon-arrow-right {
  fill: #00F2A5;
}

.section-2-row .section-2-row-flair {
  padding-top: 4vw;
}

.section-2-row .section-2-row-flair .section-2-icon-flair {
  height: 6vw;
}

.contact-form-row {
  background-color: white;
  color: #17685E;
  height: 100vh;
  padding: 6vh 4vh;
  text-align: center;
}

.contact-form-row .contact-form-headline {
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 4vw;
  width: 46vw;
}

.contact-form-row .contact-form-headline .contact-form-headline-bold {
  color: #14D3C9;
  font-style: italic;
  font-weight: 600;
}

.contact-form-row .contact-form-paragraph {
  font-size: 2vw;
  width: 46vw;
}

.contact-form-row .contact-form-paragraph .contact-form-paragraph-bold {
  color: #14D3C9;
  font-style: italic;
  font-weight: 700;
}

.contact-form-row .contact-form-paragraph-urgent {
  font-size: 2.5vw;
  font-style: italic;
  font-weight: 700;
  width: 46vw;
}

.contact-form-row .contact-form-paragraph-phone {
  font-size: 3vw;
  font-style: italic;
  font-weight: 700;
  margin-top: 6vw;
}

.contact-form-row .contact-form-paragraph-phone .icon-phone {
  fill: #17685E;
  height: 4vw;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Segoe UI, Franklin Gothic, Arial, Helvetica, Verdana, sans-serif;
}
/*# sourceMappingURL=main.css.map */