@import 'config';
@import 'navbar';
@import 'index';
@import 'contact';
@import 'services';
@import 'ourwork';
@import 'footer';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: Segoe UI, Franklin Gothic, Arial, Helvetica, Verdana, sans-serif;
  scroll-behavior: smooth;
}
