@import 'colors';
@import 'navbar';
@import 'index';
@import 'contact';
@import 'services';
@import 'ourwork';
@import 'footer';
@import 'recaptcha';
@import 'thanks';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: Segoe UI, Franklin Gothic, Arial, Helvetica, Verdana, sans-serif;
  scroll-behavior: smooth;
}

// Override the padding and scroll-hiding css properties of bootstrap on modals
// https://stackoverflow.com/questions/25070144/bootstrap-modal-removes-scroll-bar
.modal-open {
  padding: 0 !important;
  overflow-y: scroll;
}