
<!-- House Washing Card Modal -->
<div class="modal fade" id="modal-house-washing" tabindex="-1" role="dialog" aria-labelledby="modal-house-washing-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-house-washing-title">
            <span class="modal-title-highlight">
              SIMPLE CLEAN
            </span><br>
            House Washing
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Over time your home's exterior surfaces can accumulate dust, dirt,
            mildew, grim, and even harmful bacteria and other pollutants. 
          </p>
          <p>
            Keeping your home clean with our house washing services can help 
            protect your health, your investment, and increase your property's 
            curb appeal all at the same time!
          </p>
          <p>
            Don't hesitate to contact us today and find out what we can do for 
            you!
          </p>
        </div>
        <div class="modal-footer">
          <a href="{% url 'contact' %}">
            <button type="button" class="btn btn-free-quote">
              Get a
              <span class="btn-free-quote-highlight">
                Free Quote!
              </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

<!-- Patio & Deck Card Modal -->
<div class="modal fade" id="modal-patio-and-deck" tabindex="-1" role="dialog" aria-labelledby="modal-patio-and-deck-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-patio-and-deck-title">
          <span class="modal-title-highlight">
            SIMPLE CLEAN
          </span><br>
          Patio & Deck Cleaning
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Maintaining a clean patio or deck is a valuable investment for any home.
        </p>
        <p>
          Algae, mold, and mildew tend to accumulate on patios & decks over time,
          which can create slippery surfaces, health hazards, and greatly reduce
          your patio or deck's lifespan.
        </p>
        <p>
          If your patio or deck needs cleaning, let us take care of it for you!
          Contact us today for a free quote!
        </p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'contact' %}">
          <button type="button" class="btn btn-free-quote">
            Get a
            <span class="btn-free-quote-highlight">
              Free Quote!
            </span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- House Washing Card Modal -->
<div class="modal fade" id="modal-graffiti-removal" tabindex="-1" role="dialog" aria-labelledby="modal-graffiti-removal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-graffiti-removal-title">
          <span class="modal-title-highlight">
            SIMPLE CLEAN
          </span><br>
          Graffiti Removal
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Graffiti can lower the value of a home or destroy the legitimacy of a
          business. Unfortunately, it occurs all of the time.
        </p>
        <p>
          The longer graffiti remains, the more likely it is to soak into a 
          structure and the harder it is to remove. That's why it's important to 
          remove graffiti as soon as it is discovered.
        </p>
        <p>
          If you or someone you know has had their property defaced with graffiti,
          give us a call right away!
        </p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'contact' %}">
          <button type="button" class="btn btn-free-quote">
            Get a
            <span class="btn-free-quote-highlight">
              Free Quote!
            </span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>