{% extends 'base.html' %}

{% block main %}

  <div class="container-fluid contact-page">

    <!-- Contact Splash Page -->
    <div class="row contact-page-row">
      <div class="contact-page-background"></div>
      <div class="contact-page-placeholder"></div>
    </div>

    <div class="row contact-page-bottom-border"></div>

    <!-- Section 1 -->
    <div class="row section-1-row">

      <!-- Section 1 Text -->
      <div class="col-md-6 section-1-text">
        <h2 class="section-1-text-headline">
          Find out why customers in Waukesha, WI and the surrounding area choose
          SIMPLE CLEAN for their pressure washing needs
        </h2>
        <p class="section-1-text-paragraph">
          It's quick & easy to request a FREE QUOTE! Send us a message using 
          the Quote Request Form, or call us at 
          <span class="section-1-text-paragraph-bold">(123) 456-7809</span> today!
        </p>
        <p class="section-1-text-paragraph-urgent">
          We look forward to hearing from you!
        </p>
        <p class="section-1-text-paragraph-phone">
          {% include 'svg/phone.svg' %}
          (123) 456-7890
        </p>
      </div>

      <div class="col-md-6">
        {% include 'contact/contact-form.html' %}
      </div>
    </div>
  </div>

{% endblock %}