{% load static %}

<div class="container-fluid footer">
  <div class="row">

    <!-- Brand -->
    <div class="col-md-4">
      <div class="footer-brand">
        <h1 class="footer-brand-headline">SIMPLE CLEAN</h1>
        <h2 class="footer-brand-headline-sub">PRESSURE WASHING</h2>
        <p class="footer-brand-text">
          Find out how
          <span class="footer-brand-text-strong">SIMPLE CLEAN</span> can restore
          your home and property to its former glory.
        </p>
      </div>
    </div>

    <!-- Phone -->
    <div class="col-md-4">
      <div class="footer-phone">
        <h1 class="footer-phone-headline">Call us today for your FREE Quote!</h1>
        <p class="footer-phone-text">
          {% include 'svg/phone.svg' %} (123) 456-7890
        </p>
      </div>
    </div>

    <!-- Flair -->
    <div class="col-md-4 footer-flair d-flex justify-content-around align-items-center flex-wrap">
      <img class="footer-icon-flair-google" src="{% static 'img/google.svg' %}" alt="Simple Clean Google Reviews">
      <img class="footer-icon-flair-facebook" src="{% static 'img/facebook.svg' %}" alt="Simple Clean Facebook Reviews">
      <img class="footer-icon-flair-yelp" src="{% static 'img/yelp.svg' %}" alt="Simple Clean Yelp Reviews">
      <img class="footer-icon-flair-bbb" src="{% static 'img/bbb.svg' %}" alt="Simple Clean Better Business Bureau Reviews">
    </div>
  </div>

  <!-- Back To Top & Copyright -->
  <div class="row footer-back-to-top-and-copyright">
    <div class="col-md-4">
      <p class="footer-copyright">© 2019 Simple Clean Pressure Washing</p>
    </div>
    <div class="col-md-4">
      <a href="#">
        <div class="back-to-top-arrow-up-wrapper">
          <button>
            <div class="arrow-up"></div>
          </button>
        </div>
      </a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>