{% load static %}

<div class="container">
  <div class="row">

    <!-- Brand -->
    <div class="col-4 footer-brand red">
      <h1 class="footer-brand-headline">SIMPLE CLEAN</h1>
      <h2 class="footer-brand-headline-sub">PRESSURE WASHING</h2>
      <p class="footer-brand-text">
        Get in touch with us today for the <span class="strong">best</span>
        pressure washing services in Waukesha!
      </p>
      <p class="footer-brand-copyright">© 2019 Simple Clean Pressure Washing</p>
    </div>

    <!-- Phone -->
    <div class="col-4 footer-phone green">
      <h1 class="footer-phone-headline">Call us today for a FREE Quote:</h1>
      <p class="footer-phone-text">
        {% include 'svg/phone.svg' %} (123) 456-7890
      </p>
      <p class="footer-phone-back-to-top">^ Back To Top</p>
    </div>

    <!-- Flair -->
    <div class="col-4 footer-flair blue">
      <img class="footer-flair-icon" src="{% static 'img/facebook.svg' %}" alt="Facebook">
      <img class="footer-flair-icon" src="{% static 'img/yelp.svg' %}" alt="Yelp">
      <img class="footer-flair-icon" src="{% static 'img/bbb.svg' %}" alt="Better Business Bureau">
      <img class="footer-flair-icon" src="{% static 'img/google.svg' %}" alt="Google">
    </div>
  </div>
</div>