{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Pressure Washing Services in Waukesha, WI | Simple Clean</title>
{% endblock %}

{% block main %}
  <div class="container-fluid index-page">

    <!-- Landing Page -->
    <div class="row landing-page-row">
      <div class="landing-page-background"></div>
      <div class="col-12">

        <!-- Landing Page Headline (lph) -->
        <div class="landing-page-headline">
          <div class="lph-line-1">
            Increase
            <span class="lph-bold">Your Home's</span>
          </div>
          <div class="lph-line-2">
            <span class="lph-alpha-bold">CURB</span>
            <span class="lph-alpha-dash">_______</span>
          </div>
          <div class="lph-line-3">
            <span class="lph-omega-dash">____</span>
            <span class="lph-omega-bold">APPEAL</span>
          </div>
        </div>

      </div>
      <div class="landing-page-placeholder"></div>
    </div>

    <div class="row landing-page-bottom-border"></div>

    <!-- Section 1 -->
    <div class="row section-1-row">
      <div class="col-md-6 section-1-image-background"></div>
      <div class="col-md-6">
        <h2 class="section-1-headline">
          We Believe <span class="section-1-headline-bold">Your Home</span> 
          Wasn't Made To Be Covered In Algae
        </h2>
        <p class="section-1-paragraph">
          The moisture in the air from the lakes isn’t just hard on us, it’s also 
          quite tough on our homes. If you’ve observed that your driveways, 
          walkways, decks, and patios are looking old and grimy, there’s a 
          simple way to get them squeaky clean just like before. Yes, in case 
          you haven’t yet guessed, we are talking about pressure washing 
          services.
        </p>
        <p class="section-1-paragraph">
          With the strong power of mechanically pressurized water, 
          the dirty stains on your concrete, wood or brick surfaces will be 
          washed perfectly clean in no time. In one day, an affordable 
          pressure washing service can restore and revitalize the appearance 
          of your home. 
        </p>
        <p class="section-1-paragraph">
          At <span class="section-1-paragraph-bold">SIMPLE CLEAN</span>, we 
          offer the best pressure washing  services in and around Waukesha. 
          Since we’ve been around for a while, almost all our customers can 
          vouch for our quick, reliable and incredible house cleaning 
          services. All you need to do is request a free quote for us to 
          pressure wash away that dirty Wisconsin grime!
        </p>
      </div>
    </div>

    <!-- Section 2, Cards -->
    <div class="row section-2-row">

      <!-- House Washing Card -->
      <div class="col-md-4">
        <div class="card card-first">
          <div class="card-background-house-washing"></div>
          <div class="card-body">HOUSE WASHING</div>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>

      <!-- Patio & Deck -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-background-patio-and-deck"></div>
          <div class="card-body">PATIO & DECK</div>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>

      <!-- Graffiti Removal -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-background-graffiti-removal"></div>
          <div class="card-body">GRAFFITI REMOVAL</div>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 2, Flair -->
    <div class="row section-2-row justify-content-center">
      <div class="row section-2-flair">
        <div class="col-md-3 d-flex justify-content-around align-items-center">
          <img src="{% static 'img/google.svg' %}" alt="Simple Clean Google Reviews" class="section-2-icon-flair-google">
        </div>
        <div class="col-md-3 d-flex justify-content-around align-items-center">
          <img src="{% static 'img/facebook.svg' %}" alt="Simple Clean Facebook Reviews" class="section-2-icon-flair-facebook">
        </div>
        <div class="col-md-2 d-flex justify-content-around align-items-center">
          <img src="{% static 'img/yelp.svg' %}" alt="Simple Clean Yelp Reviews" class="section-2-icon-flair-yelp">
        </div>
        <div class="col-md-4 d-flex justify-content-around align-items-center">
          <img src="{% static 'img/bbb.svg' %}" alt="Simple Clean Better Business Bureau Information" class="section-2-icon-flair-bbb">
        </div>
      </div>
    </div>


    <!-- Section 3 -->
    <div class="row section-3-row">

      <!-- Section 3 Text -->
      <div class="col-md-6 section-3-text">
        <h2 class="section-3-text-headline">
          Get a <span class="section-3-text-headline-bold">FREE QUOTE</span> for 
          Pressure Washing Services in Waukesha, WI and the Surrounding Area
        </h2>
        <p class="section-3-text-paragraph">
          It's quick & easy to request a FREE QUOTE! Send us a message using 
          the Quote Request Form, or call us at 
          <span class="section-3-text-paragraph-bold">(123) 456-7809</span> today!
        </p>
        <p class="section-3-text-paragraph-urgent">
          We look forward to hearing from you!
        </p>
        <p class="section-3-text-paragraph-phone">
          {% include 'svg/phone.svg' %}
          (123) 456-7890
        </p>
      </div>

      <!-- Contact Form -->
      <div class="col-md-6">
        {% include 'contact/contact-form.html' %}
      </div>
    </div>
  </div>
{% endblock %}