{% load static %}

<nav class="navbar navbar-expand-md navbar-minimized-false">
  <h1 class="navbar-brand d-flex align-items-center">
    SIMPLE CLEAN <span class="navbar-brand-phone">(123) 456-7890</span>
  </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-simple-clean" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <img class="icon-hamburger" src="{% static 'img/icon-hamburger.svg' %}">
  </button>

  <div class="collapse navbar-collapse" id="navbar-simple-clean">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-home" href="{% url 'index' %}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-services" href="{% url 'services' %}">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-ourwork" href="{% url 'ourwork' %}">OUR WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-contact" href="{% url 'contact' %}">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<div class="navbar-stripe-wrapper navbar-stripe-minimized-false">
  <div class="navbar-stripe navbar-stripe-minimized-false"></div>
  <div class="navbar-stripe-text navbar-stripe-minimized-false">PRESSURE WASHING</div>
</div>

<button class="navbar-call-now align-items-center">
  {% include 'svg/phone.svg' %} &nbsp;
  Call Now
</button>

<a href="{% url 'contact' %}">
  <button class="navbar-free-quote navbar-free-quote-minimized-false" style="display: none;">
    <span class="navbar-free-quote-large-text">FREE QUOTE</span>
  </button>
</a>