{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>View Our Work | Simple Clean</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Let Simple Clean restore your home or property's exterior to new condition again.">
{% endblock%}

{% block main %}
  <div class="container-fluid ourwork-page">

    <!-- Our Work Splash Page -->
    <section class="row ourwork-splash-page-row">
      <div class="ourwork-splash-page-background"></div>
      <div class="col-12">

        <!-- Our Work Splash Page, Headline (owsph) -->
        <h1 class="ourwork-splash-page-headline">
          <span class="owsph-line-1">
            Restore
            <span class="owsph-bold">Your Home</span>
            To
          </span>
          <span class="owsph-line-2">
            <span class="owsph-alpha-bold">NEW</span>
            <span class="owsph-alpha-dash">_______</span>
          </span>
          <span class="owsph-line-3">
            <span class="owsph-omega-dash">___</span>
            <span class="owsph-omega-bold">CONDITION</span>
          </span>
          <span class="owsph-line-4">
            <span class="owsph-bold">Again</span>
          </span>
        </h1>

        <!-- Our Work Splash Page, Placeholder -->
        <div class="ourwork-splash-page-placeholder"></div>
      </div>
    </section>

    <div class="row ourwork-splash-page-bottom-border"></div>

    <!-- Section 1 -->
    <section class="row section-1-row">

      <!-- Section 1, Headline -->
      <h2 class="section-1-headline">
        We Can Restore Your Home To
        <span class="section-1-headline-bold">New Condition</span>
        Again
      </h2>

      <!-- Section 1, Before & After Pictures (BAAP) -->
      <div class="section-1-before-and-after-pictures">

        <!-- Section 1, BAAP, House 1 -->
        <div class="section-1-baap-group" 
          data-id="ba-house-01" 
          data-src="{% static 'img' %}"
          data-toggle="modal" 
          data-target="#modal-baap-template"
        >
          <div class="section-1-baap-group-before">
            <img src="{% static 'img/ba-house-01-before.jpg' %}">
          </div>
          <div class="section-1-baap-group-after">
            <img src="{% static 'img/ba-house-01-after.jpg' %}">
          </div>
        </div>

        <!-- Section 1, BAAP, House 2 -->
        <div class="section-1-baap-group"
          data-id="ba-house-02" 
          data-src="{% static 'img' %}"
          data-toggle="modal" 
          data-target="#modal-baap-template"
        >
          <div class="section-1-baap-group-before">
            <img src="{% static 'img/ba-house-02-before.jpg' %}">
          </div>
          <div class="section-1-baap-group-after">
            <img src="{% static 'img/ba-house-02-after.jpg' %}">
          </div>
        </div>

        <!-- Section 1, BAAP, House 3 -->
        <div class="section-1-baap-group"
          data-id="ba-house-03" 
          data-src="{% static 'img' %}"
          data-toggle="modal" 
          data-target="#modal-baap-template"
        >
          <div class="section-1-baap-group-before">
            <img src="{% static 'img/ba-house-03-before.jpg' %}">
          </div>
          <div class="section-1-baap-group-after">
            <img src="{% static 'img/ba-house-03-after.jpg' %}">
          </div>
        </div>

        <!-- Section 1, BAAP, Sidewalk 1 -->
        <div class="section-1-baap-group"
          data-id="ba-sidewalk-01"
          data-src="{% static 'img' %}"
          data-toggle="modal" 
          data-target="#modal-baap-template"
        >
          <div class="section-1-baap-group-before">
            <img src="{% static 'img/ba-sidewalk-01-before.jpg' %}">
          </div>
          <div class="section-1-baap-group-after">
            <img src="{% static 'img/ba-sidewalk-01-after.jpg' %}">
          </div>
        </div>

        <!-- Section 1, BAAP Modals -->
        {% include 'modals/ourwork-modals.html' %}

      </div>
    </section>
  </div>
{% endblock %}