{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Pressure Washing Before & After in Waukesha, WI | Simple Clean</title>
{% endblock %}

{% block main %}
  <div class="container-fluid ourwork-page">

    <!-- Our Work Splash Page -->
    <div class="row ourwork-splash-page-row">
      <div class="ourwork-splash-page-background"></div>
      <div class="col-12">

        <!-- Our Work Splash Page Headline (owsph) -->
        <div class="ourwork-splash-page-headline">
          <div class="owsph-line-1">
            Restore
            <span class="owsph-bold">Your Home</span>
            To
          </div>
          <div class="owsph-line-2">
            <span class="owsph-alpha-bold">NEW</span>
            <span class="owsph-alpha-dash">_______</span>
          </div>
          <div class="owsph-line-3">
            <span class="owsph-omega-dash">___</span>
            <span class="owsph-omega-bold">CONDITION</span>
          </div>
          <div class="owsph-line-4">
            <span class="owsph-bold">Again</span>
          </div>
        </div>

        <div class="ourwork-splash-page-placeholder"></div>
      </div>
    </div>

    <div class="row ourwork-splash-page-bottom-border"></div>

    <!-- Section 1 -->
    <div class="row section-1-row">
    </div>

  </div>
{% endblock %}