{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Pressure Washing Services in Waukesha, WI | Simple Clean</title>
{% endblock %}

{% block main %}
  <div class="container-fluid services-page">

    <!-- Services Splash Page -->
    <div class="row services-splash-page-row">
      <div class="services-splash-page-background"></div>
      <div class="col-12">

        <!-- Services Splash Page Headline (ssph) -->
        <div class="services-splash-page-headline">
          <div class="ssph-line-1">
            Experience
            <span class="ssph-bold">The Best</span>
          </div>
          <div class="ssph-line-2">
            <span class="ssph-alpha-bold">HOUSE</span>
            <span class="ssph-alpha-dash">_______</span>
          </div>
          <div class="ssph-line-3">
            <span class="ssph-omega-dash">___</span>
            <span class="ssph-omega-bold">WASHING</span>
          </div>
          <div class="ssph-line-4">
            <span class="ssph-bold">Solutions</span>
            in Lake Country
          </div>
        </div>

        <div class="services-splash-page-placeholder"></div>
      </div>
    </div>

    <div class="row services-splash-page-bottom-border"></div>

    <!-- Section 1 -->
    <div class="row section-1-row">
      <div class="col-md-6">
        <h2 class="section-1-headline">
          Our Various <span class="section-1-headline-bold">House Washing</span> 
          Services
        </h2>
        <p class="section-1-paragraph">
          At <span class="section-1-paragraph-bold">SIMPLE CLEAN</span>, we 
          use the best house washing technology to 
          get the exterior of your home bright and shining! Other than a 
          safe and effective amount of needed soap and sodium 
          hyrochlorite (which is the industry standard for house washing), 
          we do not use anything else but water throughout the house 
          washing service. Our services are therefore completely 
          sustainable and environment friendly.            
        </p>
        <p class="section-1-paragraph">
          Remember, algae, moss, dirt, grime and moss collect more
          easily on the external surface of your home in humid areas, 
          making your Wisconsin home look dirty and stained. In addition 
          to affecting the curb appeal of your house, these elements can 
          also end up permanently damaging your home’s surfaces. Our 
          house washing is applicable to any and every home surface. So, 
          regardless of the substrate of your exteriors, you can always rely
          on us for a thorough and consistent house washing service. 
        </p>
        <p class="section-1-paragraph">
          Whether it’s the siding, trims, driveways, decks, or even patios,
          our team can wash them all! So, get in touch with us today, for 
          the best house washing services in Waukesha!
        </p>
      </div>
      <div class="col-md-6 section-1-image-background"></div>
    </div>

    <!-- Section 2, Headline -->
    <div class="row section-2-headline d-flex justify-content-center">
      By Hiring a Pro, You Can Avoid...
    </div>

    <!-- Section 2, Billboards -->
    <div class="row section-2-billboards">

      <!-- Billboard 1 -->
      <div class="col-md-4 billboard-1 d-flex justify-content-center align-items-center">
        DAMAGE TO YOUR HOME & YOURSELF
      </div>

      <!-- Billboard 2 -->
      <div class="col-md-4 billboard-2 d-flex justify-content-center align-items-center">
        UNINSURED, POOR QUALITY SERVICES
      </div>

      <!-- Billboard 3 -->
      <div class="col-md-4 billboard-3 d-flex justify-content-center align-items-center">
        WASTING YOUR PRECIOUS TIME AND MONEY
      </div>
    </div>

    <div class="row section-2-bottom-border"></div>

    <!-- Section 3, Headline-->
    <div class="row section-3-headline justify-content-center">
      Our Service Area
    </div>

    <!-- Section 3, Map -->
    <div class="row section-3-map-background justify-content-center red">
      <img class="section-3-map-image" src="{% static 'img/simple-clean-map.png' %}">
    </div>

    <div class="row section-3-bottom-border"></div>

  </div>
{% endblock %}