{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Experience The Best House Washing Services In Lake Country | Simple Clean</title>
{% endblock %}

{% block metatag %}
  <meta name="description" content="Simple Clean Pressure Washing offers house washing, patio & deck cleaning, and graffiti removal in Waukesha, WI, Lake Country, and the surrounding area.">
{% endblock%}

{% block main %}
  <div class="container-fluid services-page">

    <!-- Services Splash Page -->
    <section class="row services-splash-page-row">
      <div class="services-splash-page-background"></div>
      <div class="col-12">

        <!-- Services Splash Page Headline (ssph) -->
        <header>
          <h1 class="services-splash-page-headline">
            <span class="ssph-line-1">
              Experience
              <span class="ssph-bold">The Best</span>
            </span>
            <span class="ssph-line-2">
              <span class="ssph-alpha-bold">HOUSE</span>
              <span class="ssph-alpha-dash">_______</span>
            </span>
            <span class="ssph-line-3">
              <span class="ssph-omega-dash">___</span>
              <span class="ssph-omega-bold">WASHING</span>
            </span>
            <span class="ssph-line-4">
              <span class="ssph-bold">Solutions</span>
              In Lake Country
            </span>
          </h1>
        </header>

        <div class="services-splash-page-placeholder"></div>
      </div>
    </section>

    <div class="row services-splash-page-bottom-border"></div>

    <!-- Section 1 -->
    <section class="row section-1-row">
      <div class="col-md-6">
        <h2 class="section-1-headline">
          Our Various <span class="section-1-headline-bold">House Washing</span> 
          Services
        </h2>
        <p class="section-1-paragraph">
          At <span class="section-1-paragraph-bold">SIMPLE CLEAN</span>, we 
          use the best house washing technology to 
          get the exterior of your home bright and shining! Other than a 
          safe and effective amount of needed soap and sodium 
          hyrochlorite (which is the industry standard for house washing), 
          we do not use anything else but water throughout the house 
          washing service. Our services are therefore completely 
          sustainable and environment friendly.            
        </p>
        <p class="section-1-paragraph">
          Remember, algae, moss, dirt, grime and moss collect more
          easily on the external surface of your home in humid areas, 
          making your Wisconsin home look dirty and stained. In addition 
          to affecting the curb appeal of your house, these elements can 
          also end up permanently damaging your home’s surfaces. Our 
          house washing is applicable to any and every home surface. So, 
          regardless of the substrate of your exteriors, you can always rely
          on us for a thorough and consistent house washing service. 
        </p>
        <p class="section-1-paragraph">
          Whether it’s the siding, trims, driveways, decks, or even patios,
          our team can wash them all! So, get in touch with us today, for 
          the best house washing services in Waukesha!
        </p>
      </div>
      <div class="col-md-6 section-1-image-background"></div>
    </section>

    <!-- Section 2, Cards -->
    <section class="row section-2-row">

      <!-- House Washing Card -->
      <div class="col-md-4">
        <div class="card card-first" data-toggle="modal" data-target="#modal-house-washing">
          <div class="card-background-house-washing"></div>
          <h2 class="card-body">HOUSE WASHING</h2>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>
        
      <!-- Patio & Deck -->
      <div class="col-md-4">
        <div class="card" data-toggle="modal" data-target="#modal-patio-and-deck">
          <div class="card-background-patio-and-deck"></div>
          <h2 class="card-body">PATIO & DECK</h2>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>
  
      <!-- Graffiti Removal -->
      <div class="col-md-4">
        <div class="card" data-toggle="modal" data-target="#modal-graffiti-removal">
          <div class="card-background-graffiti-removal"></div>
          <h2 class="card-body">GRAFFITI REMOVAL</h2>
          <div class="d-flex justify-content-center">
            <div class="card-link">
              <span class="card-link-text">Learn More</span>
              {% include "svg/arrow-right.svg" %}
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Section 2, Card Modals -->
    {% include 'modals/index-modals.html' %}

    <!-- Section 2, Billboards -->
    <section class="row section-2-row">
      <h2 class="section-2-billboards-headline">
        By Hiring a Pro, You Can Avoid...
      </h2>
      <div class="section-2-billboards">
        <div class="col-md-4 billboard-1">
          DAMAGE TO YOUR HOME & YOURSELF
        </div>
        <div class="col-md-4 billboard-2">
          UNINSURED, POOR QUALITY SERVICES
        </div>
        <div class="col-md-4 billboard-3">
          WASTING YOUR PRECIOUS TIME AND MONEY
        </div>
      </div>
    </section>


    <!-- Section 3, Headline-->
    <section class="row section-3-row">

      <!-- Section 3, Service Locations -->
      <div class="col-md-6">
        <h2 class="section-3-headline">
          We service Waukesha, WI and the surrounding areas, including:
        </h2>
        <div class="section-3-service-locations">
          <ul>
            <li><h3>Sussex, WI</h3></li>
            <li><h3>Hartland, WI</h3></li>
            <li><h3>Nashotah, WI</h3></li>
            <li><h3>Delafield, WI</h3></li>
          </ul>
          <ul>
            <li><h3>Wales, WI</h3></li>
            <li><h3>New Berlin, WI</h3></li>
            <li><h3>North Prairie, WI</h3></li>
            <li><h3>Pewaukee, WI</h3></li>
          </ul>
        </div>
      </div>

      <!-- Section 3, Map -->
      <div class="col-md-6">
        <img class="section-3-map-image" src="{% static 'img/simple-clean-map.png' %}">
      </div>
    </section>

    <div class="row section-3-bottom-border"></div>

  </div>
{% endblock %}