{% extends 'base.html' %}

{% block main %}

  <div class="container-fluid thanks-page">

    <!-- Thanks Splash Page -->
    <div class="row thanks-page-row">
      <div class="thanks-page-background"></div>
      <div class="thanks-page-placeholder"></div>
    </div>

    <div class="row thanks-page-bottom-border"></div>

    <!-- Section 1 -->
    <div class="row section-1-row">

      <!-- Section 1 Column Spacer -->
      <div class="col-md-2"></div>

      <!-- Section 1 Text -->
      <div class="col-md-8">
        <h2 class="section-1-text-headline">
          Thanks For Contacting
          <span class="section-1-text-headline-bold">SIMPLE CLEAN</span>
          Pressure Washing!
        </h2>
        <p class="section-1-text-paragraph">
          A member of our staff will get back to you as 
          <span class="section-1-text-paragraph-bold">soon</span>
          as possible!
        </p>
        <p class="section-1-text-paragraph">
          If you'd like to get in touch with us right away or send a follow-up
          email, please don't hesitate to use our contact information:
        </p>
        <p class="section-1-text-paragraph-email">
          {% include 'svg/email.svg' %}
          email@email.com
        </p>
        <p class="section-1-text-paragraph-phone">
          {% include 'svg/phone.svg' %}
          (123) 456-7890
        </p>
        <p class="section-1-text-paragraph">
          {% include 'business_information/hours-of-operation.html' %}
        </p>
        <p class="section-1-text-paragraph-urgent">
          We look forward to speaking with you soon!
        </p>
      </div>

      <!-- Section 1 Column Spacer -->
      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}