
<!-- Show any messages/errors after a form submission (if any exist) -->
  {% if messages %}
    {% for message in messages %}
      <div class="d-flex justify-content-center alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="d-flex justify-content-center alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

<!-- Contact Form -->
<div class="contact-form-heading">
  <h2>QUOTE REQUEST FORM</h2>
</div>
<form class="contact-form" action="{% url 'contact:submit' %}" method="post">
  <fieldset>
    {% csrf_token %}
    {% for field in form %}
      <div class="contact-form-input">
        {{ field }}
        {{ field.label_tag }}
      </div>
    {% endfor %}
    <button type="submit" value="Submit">Request Your FREE Quote!</button>
  </fieldset>
</form>