<div class="contact-form-wrapper">

<form class="contact-form" action="{% url 'contact:submit' %}" method="post">
  {% csrf_token %}

  {% for field in form %}
    <div class="contact-input">
      {{ field }}
      {{ field.label_tag }}
    </div>
  {% endfor %}

  <button type="submit" value="Submit">Submit</button>
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
</form>

</div>
